@import "./../../styles/design";

.gameTile {
  position: relative;
  min-height: 30vh;
  overflow: hidden;
  text-align: center;
  border-radius: 1rem;
  background: $c-silver;
  box-shadow: 0px 5px 20px transparentize($c-black, 0.8);
  cursor: pointer;
}
.image {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}