@import "./../../styles/design";

.ratingContainer {
  display: flex;
  align-items: center;
}

.stars {
  margin-right: $s-m;
}

.star~.star {
  margin-left: $s-xxs;
}

.star {
  width: $s-l;
  height: $s-l;
  color: $c-salmon;
}
