@import "./../../styles/design";

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  background: transparentize($c-black, 0.5);

  &::-webkit-scrollbar {
    width: $s-xs;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $c-salmon;
  }

  &::-webkit-scrollbar-track {
    background: $c-white;
  }
}

.content {
  position: absolute;
  left: 5%;
  z-index: 10;
  width: 90%;
  padding: $s-xl $s-l;
  margin: $s-m 0;
  border-radius: $base-radius;
  background: $c-white;
  color: $c-mine-shaft;
}

.closeButton {
  position: absolute;
  top: $s-l;
  right: $s-l;
  font-size: $s-xxl;
  color: $c-salmon;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.media {
  margin-top: $s-xl;
}

.mainImage {
  width: 100%;
  border-radius: $base-radius;
  overflow: hidden;
  box-shadow: $base-shadow;
}

.description {
  margin: $s-xxl 0rem;
}

.sliderContainer {
  margin-bottom: $s-xxxl;
  border-radius: $base-radius;
  overflow: hidden;
  box-shadow: $base-shadow;
}

@include desktop {
  .content {
    left: 10%;
    width: 80%;
    padding: $s-xl $s-xxl;
  }

  .closeButton {
    display: none;
  }
}