@import "./../../styles/design";

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  background: transparentize($c-black, 0.5);

  &::-webkit-scrollbar {
    width: $s-xs;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $c-salmon;
  }

  &::-webkit-scrollbar-track {
    background: $c-white;
  }
}

.details {
  position: absolute;
  left: 10%;
  z-index: 10;
  width: 80%;
  padding: $s-xl $s-xxl;
  margin: $s-m 0;
  border-radius: $base-radius;
  background: $c-white;
  color: $c-mine-shaft;
}

.ratingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.star~.star {
  margin-left: $s-xxs;
}

.star {
  width: $s-l;
  height: $s-l;
  color: $c-salmon;
}

.info {
  text-align: center;
}

.platforms {
  display: flex;
  justify-content: flex-end;
}

.platformImage {
  width: $s-l;
}

.platformImage~.platformImage {
  margin-left: $s-l;
}

.media {
  margin-top: $s-xl;
}

.mainImage {
  width: 100%;
}

.description {
  margin: $s-xxl 0rem;
}

.galleryImage {
  width: 100%;
}

.sliderContainer {
  position: relative;
  z-index: 1000;
}