@import "./../../styles/design";

.gamesList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: $base-spacing;
  grid-row-gap: $base-spacing * 2;
  min-height: 80vh;
}

.heading {
  width: 100%;
  padding: $s-xl 0;
  color: $c-silver;
  margin: 0 auto;
  text-align: center;
}