@import "./../../styles/design";

.container {
  padding: 0rem 5rem;
}

.heading {
  padding: 2.5rem 0rem;
}

.games {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 2.5rem;
  grid-row-gap: 5rem;
  min-height: 80vh;
}