// SIZES
$s-xxs: 4px;
$s-xs: 8px;
$s-s: 12px;
$s-m: 20px;
$s-l: 32px;
$s-xl: 52px;
$s-xxl: 84px;
$s-xxxl: 136px;

// BREAKPOINTS
$mobile-landscape: 480px;
$tablet: 768px;
$desktop: 992px;
$widescreen: 1200px;
$largescreen: 1680px;

// ELEMENTS SPACING
$base-spacing: $s-m;
$section-spacing: $s-xl;
