@import "./../../styles/design";

.nav {
  padding: 3rem 5rem 0;
  text-align: center;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  cursor: pointer;
}

.logo {
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 1rem;
}

.title {
  font-size: 3.5rem;
  color: $c-silver;
}