@import "./../../styles/design";

.nav {
  padding: $s-xl $s-xxl 0;
  text-align: center;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $s-xl;
  cursor: pointer;
}

.logo {
  height: $s-xl;
  width: $s-xl;
  margin-right: 1rem;
}

.title {
  font-size: $s-xl;
  color: $c-silver;
}