@import "./../../styles/design";

.dots {
  position: absolute;
  bottom: $s-m;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dot {
  padding: $s-s;
  cursor: pointer;
  border-radius: 50%;
  background: $c-white;
  opacity: 0.5;
  transition: opacity .3s ease-out;
  &.active {
    opacity: 1;
  }
}

.dot~.dot {
  margin-left: $s-s;
}
